<div class="section-container">
    <h2>
        Latest Attacks
    </h2>
    <table class="table table-hover w-auto">
        <thead class="thead">
            <tr>
                <th>ID</th>
                <th>Message</th>
                <th>Timestamp</th>
                <th>Protocol</th>
                <th>Severity</th>
                <th>Source IP</th>
                <th>Destination IP</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let attack of attacks">
                <td>{{ attack.id}}</td>
                <td>{{ attack.message}}</td>
                <td>{{ attack.timestamp}}</td>
                <td>{{ attack.proto}}</td>
                <td>{{ attack.severity}}</td>
                <td>{{ attack.src_ip}}</td>
                <td>{{ attack.dest_ip}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <button (click)="getAttacks()">Refresh</button> -->
