@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.gap {
    color: #888888;
    margin-top: -50px;
    margin-bottom: -50px;
    
    @media (max-width: $small) {
        margin-top: 0px;
        margin-bottom: 0px;
      }
  }
#chart {
    max-width: 650px;
    margin: 35px auto;
    zoom: 0.8;
    margin-bottom: 10px;
  }

  .chart-wrapper {
    position: relative;
    background-color: #ffffff;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    height: 348px;
  }