<mat-card class="chart-wrapper">
    <div>
        <mat-toolbar class="page-header gap" role="heading">
            <h5>Top Offense Categories</h5>
        </mat-toolbar>
    </div>
    <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend" [colors]="chartOptions.colors" [grid]="chartOptions.grid"></apx-chart>
    </div>
</mat-card>