@import "src/app/styles/colors";
@import "src/app/styles/font";
@import "src/app/styles/variables";

.header {
    color: #888888;
    padding: 0;
  }
#chart {
    height: fit-content!important;
    width: fit-content!important;
    //margin-top: 10px;
    zoom: 1.1;
    @media (max-width: $large) {
      flex-wrap: wrap;
      width: 50% !important;
      margin-top: 0px!important;
    }
  }
  .chart-wrapper {
    position: relative;
    align-content: center;
    background-color: #ffffff;
    width: fit-content;
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
  }
  .noData {
    align-content: center;
  }
