@import "src/app/styles/colors";

.form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    &__input {
        width: 10%;
        margin-bottom: 15px;
    }
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;

    &__create {
        margin: 0;
        width: 95%;
        box-shadow: 0 0 11px 0 $shadow-white, 0 0 0 -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
    }
}
.btn {
    background-color: $navbar-background-color;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 13px;
    text-align: center;
    width: auto;
    border-radius: 4px;
    height: 30px;
    padding-bottom: 35px;
}
mat-grid-tile {
    background: none;
    &__mat-figure {
        align-items: flex-start;
    }
}
.width-50 {
    width: 49%;
}
.ml-1 {
    margin-left: 1%;
}
.ml-2 {
    margin-left: 2%;
}
.width-100 {
    width: 100%;
}
.width-25 {
    width: 25%;
}
::ng-deep mat-select.mat-select {
    border: 0px;
}

:host mat-select ::ng-deep .mat-select-arrow {
    border: none;
}
:host mat-select ::ng-deep .mat-option {
    max-width: 50%;
}

.text-danger {
    color: red;
    font-size: 15px;
}
.error {
    margin-top: -12px;
    margin-bottom: -27px;
}
.header {
    color: $grey;
}
