<form class="form" [formGroup]="form" (ngSubmit)="sign()">
      <div class="example-container">
        <h4 style="text-align: center" class="header"> Create New User</h4>
        <mat-form-field appearance="fill" class="width-50">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-50 ml-2">
          <mat-label>Surname</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Email address</mat-label>
          <input matInput placeholder="Ex. pat@example.com" type="email" formControlName="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Enter password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="error" *ngIf="form.controls.password.invalid">
          <p class="text-danger">8 to 30 characters, 1 digit, 1 lowercase, 1 uppercase</p>
        </div>
        <br>
        <mat-form-field appearance="fill" class="width-50">
          <mat-label>Select Role</mat-label>
          <mat-select name="role" formControlName="role" disableOptionCentering>
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-actions">
          <button class="form-actions__create btn" mat-raised-button color="primary" type="submit">Create
            account</button>
        </div>
      </div>
</form>
