@import "src/app/styles/colors";
@import "src/app/styles/font";

.form {
  width: 100%;
  margin-top: 30px;
  font-size: 16px;

  &__input {
    width: 100%;
    margin-top: 6px;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  &__login {
    margin-right: 10px;
    background-color: rgb(37, 37, 37);
  }

  &__forget {
    font-size: 12px;
    font-weight: $fw-lighter;
    color: $blue;
  }
}
