<div>
    <mat-card class=" counter-wrapper total">
        <div class="alert">
            Alerts
        </div>
        <div class="category">
            total
        </div>
        
    </mat-card>
    <mat-card class="counter-wrapper low">
        Alerts low
    </mat-card>
    <mat-card class="counter-wrapper medium">
        Alerts medium
    </mat-card>
    <mat-card class="counter-wrapper high">
        Alerts high
    </mat-card>
    <mat-card class="counter-wrapper critical">
        Alerts critical
    </mat-card>
</div>