<div ngModel="alertCounters">
    <mat-card class=" counter-wrapper total">
        <div class="alert">Alerts</div>
        <div class="category">total</div>
        <div class="counter">{{alertCounters.alertsTotal}}</div>
    </mat-card>
    <mat-card class="counter-wrapper low">
        <div class="alert">Alerts</div>
        <div class="category">low</div>
        <div class="counter">{{alertCounters.alertsLow}}</div>
    </mat-card>
    <mat-card class="counter-wrapper medium">
        <div class="alert">Alerts</div>
        <div class="category">medium</div>
        <div class="counter">{{alertCounters.alertsMedium}}</div>
    </mat-card>
    <mat-card class="counter-wrapper high">
        <div class="alert">Alerts</div>
        <div class="category">high</div>
        <div class="counter">{{alertCounters.alertsHigh}}</div>
    </mat-card>
    <mat-card class="counter-wrapper critical">
        <div class="alert">Alerts</div>
        <div class="category">critical</div>
        <div class="counter">{{alertCounters.alertsCritical}}</div>
    </mat-card>
</div>