@import "src/app/styles/colors";
@import "src/app/styles/variables";
@import "src/app/styles/font";

.counter-wrapper {
    width: 210px;
    height: 110px;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    justify-content: center;
     align-items: center;
     color: white;
     overflow: auto;
     border-radius: 5px;
     padding: 0px!important;
     margin: 16px;
  }
  // .mat-card {
  //   padding: 0px!important;
  // }
  .alert {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .category {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
  .counter {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
  }
  .total {
        background-color: $alert-total;
        margin-right: -16px;      
  }
  .low {
    background-color: $alert-low;
    margin-right: -16px;
  }
  .medium {
    background-color: $alert-medium;
    margin-right: -16px;
  }
  .high {
    background-color: $alert-high;
    margin-right: -16px;
  }
  .critical {
    background-color: $alert-critical;
    margin-right: -16px;
  }