<h4 class="header"> Change my settings</h4>
<div class="wrapper">
    <mat-accordion class="example-headers-align">
        <form [formGroup]="personalForm" (ngSubmit)="updateInfo()">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personal data
                    </mat-panel-title>
                    <mat-panel-description>
                        Update your personal information
                        <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>

                <mat-action-row>
                    <button mat-button color="primary" type="submit">Update</button>
                </mat-action-row>
            </mat-expansion-panel>
        </form>
        <form [formGroup]="securityForm" (ngSubmit)="updatePassword()">
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Security
                    </mat-panel-title>
                    <mat-panel-description>
                        Update your password
                        <mat-icon>lock</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <mat-label>Current password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" type="password"
                        formControlName="currentPassword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" type="password" formControlName="newPassword">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="error" *ngIf="securityForm.controls.newPassword.invalid">
                    <p class="text-danger">8 to 30 characters, 1 digit, 1 lowercase, 1 uppercase</p>
                </div>
                <mat-action-row>
                    <button mat-button color="primary" type="submit">Update</button>
                </mat-action-row>
            </mat-expansion-panel>
        </form>
    </mat-accordion>
</div>