@import "src/app/styles/colors";

.form {
    display: flex;
    flex-direction: column;
    &__input {
        width: 10%;
        margin-bottom: 15px;
        // border: none;
        // //background: gray;
        // padding: 0;
        // outline: none;
        // font: inherit;
        // text-align: center;
        // color: currentColor;
    }
}
.error {
    // margin-top: -12px;
    // margin-bottom: -27px;
    margin-left: 200px;
}
.text-danger {
    color: red;
    font-size: 12px;
}

mat-grid-tile {
    background: none;
    &__mat-figure {
        align-items: flex-start;
    }
}
.width-50 {
    width: 49%;
}
.ml-1 {
    margin-left: 1%;
}
.ml-2 {
    margin-left: 2%;
}
.width-100 {
    width: 100%;
}
.width-25 {
    width: 25%;
}
::ng-deep mat-select.mat-select {
    border: 0px;
}

:host mat-select ::ng-deep .mat-select-arrow {
    border: none;
}
:host mat-select ::ng-deep .mat-option {
    max-width: 50%;
}

.text-danger {
    color: red;
    font-size: 15px;
}
.error {
    margin-top: -12px;
    margin-bottom: -27px;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.wrapper {
    padding: 50px;
}
.header {
    text-align: center;
    margin-top: 40px;
    //margin-left: 90px;
    margin-bottom: -20px;
    color: $grey;
}
