@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

.gap {
  margin-bottom: 5px;
  margin-top: -40px;
  color: #888888;
  background-color: white;
  position: sticky;
}


table {
  width: 100%;
  margin-top: -25px;
}

tr.queue-detail-row {
  height: 0;
}

tr.queue-element-row:not(.queue-expanded-row):hover {
  background: whitesmoke;
}

tr.queue-element-row:not(.queue-expanded-row):active {
  background: #efefef;
}

.queue-element-row {
  zoom: 0.8;
  @media (min-width: 2100px) {
    zoom: 1!important;
  }
  @media (min-width: 2600px) {
    zoom: 1.3!important;
  }
}

.queue-element-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-wrapper {
  position: relative;
  background-color: #ffffff;
  width: auto;
  overflow: auto;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  height: 242px;
}




  
  


