<app-layout>
  <mat-toolbar class="page-header mat-tool-gap " role="heading">
    <app-ngx-daterange-picker (dateEmitter)="pushDateRange($event)"></app-ngx-daterange-picker>
  </mat-toolbar>

  <div class="layout-container">
    <div class="column-container">
      <div class="left-column-container">
        <app-alert-counter *ngIf="counters" [alertCounters]="counters"></app-alert-counter>
        <div class="chart-wrapper">
          <mat-card id="chart1">
            <app-category-chart *ngIf="chartData" [categoryChartSeries]="chartData"></app-category-chart>
          </mat-card>
          <mat-card id="chart1">
            <app-ip-chart *ngIf="chartData" [ipChartSeries]="chartData"></app-ip-chart>
          </mat-card>
        </div>
      </div>
      <div class="right-column-container">
        <app-severity-table *ngIf="severityTableData" [severityTableData]="severityTableData"></app-severity-table>
        <app-recent-data-table *ngIf="recentTableData" [recentTableData]="recentTableData"></app-recent-data-table>
      </div>
    </div>
    <mat-card class="timeline">
      <app-timeline-chart *ngIf="timelineData" [timelineData]="timelineData"></app-timeline-chart>
    </mat-card>
  </div>
  
</app-layout>
