@import 'src/app/styles/variables';

.mat-tool-gap {
  margin-top: -40px;
  margin-bottom: -20px;
  margin-left: 5px;
}
// .date-gap {
//   margin-right: 100px;
// }

.gap-ip {
  margin-top: -137px;
  max-width: 540px;
  max-height: 500px;
  
  @media (max-width: $normal) {
    margin-top: -137px;
  }
  @media (max-width: $small) {
    margin: 16px;;
  }
}
.gap-category {
  margin-top: -137px;
  max-width: 540px;
  max-height: 500px;
}
.alerts {
  max-height: 120px;
}

.severity {
  width: 100%;
}

.charts-wrapper {
  display: flex;
  margin: 0 8px;
  padding: 0 8px;

  @media (max-width: $normal) {
    flex-wrap: wrap;
    margin: 16px;
  }
  @media (max-width: $small) {
    margin: 16px;
  }
}

.chart {
  width: 100%;
  

  @media (max-width: $normal) {
    width: 50%;
  }

  @media (max-width: $small) {
    width: 100%;
  }
}
.table {
  width: 50%;

  @media (max-width: $normal) {
    width: 50%;
  }

  @media (max-width: $small) {
    width: 100%;
  }
}
