@import "src/app/styles/variables";

.mat-tool-gap {
  margin-top: -30px;
  margin-bottom: -30px;
  margin-left: 5px;
}
.layout-container {
  display: flex;
  flex-direction: column;
  margin: 14px;
  @media (max-width: $normal) {
    flex-wrap: wrap;
    width: 100% !important;
  }
}
.column-container {
  display: flex;
  flex-direction: row;
  @media (max-width: $normal) {
    flex-wrap: wrap;
    width: 100% !important;
  }
}
.chart-wrapper {
  display: flex;
  flex-direction: row;
  @media (max-width: $normal) {
    flex-wrap: wrap;
    width: 100% !important;
    order: 3!important;
  }
}
.left-column-container {
  width: 60%;
  @media (max-width: $normal) {
    flex-wrap: wrap;
    width: 100% !important;
  }
}
.right-column-container {
  margin-top: -50px;
  width: 40%;
  @media (max-width: $large) {
    flex-wrap: wrap;
    width: 100% !important;
    margin-top: 0px!important;
  }
}

#chart1 {
  width: 100%;
  height: 268px;
  align-items: center;
  @media (max-width: $normal) {
    flex-wrap: wrap;
    width: 100% !important;
  }
}
.timeline {
  height: 305px;
  @media (max-width: $normal) {
    flex-wrap: wrap;
    width: 100% !important;
  }
}


.chart {
  width: 100%;

  @media (max-width: $normal) {
    width: 50%;
  }

  @media (max-width: $small) {
    width: 100%;
  }
}
.table {
  width: 50%;

  @media (max-width: $normal) {
    width: 50%;
  }

  @media (max-width: $small) {
    width: 100%;
  }
}
