@import "src/app/styles/colors";
@import "src/app/styles/variables";

.container {
  text-align: center;
  overflow: auto;
  margin-top: 50px;
  margin-bottom: 15px;
}
table {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (max-width: 900px) {
    flex-wrap: wrap;
    width: 500px
  }
}


.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}
.mat-column-id {
  min-width: 80px;
}
.mat-column-role {
  min-width: 100px;
  max-width: 150px;
}
.mat-column-email,  .mat-column-firstname, .mat-column-lastname{
  min-width: 220px;
}
.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 5%;
}
