<app-layout>
  <mat-tab-group>
    <mat-tab label="My Settings">
      <app-settings [user]="user$ | async" (sendUpdate)="sendUpdate($event)"></app-settings>
    </mat-tab>
    <mat-tab label="New User" [disabled]="role != 'admin'">
      <app-register (sendRegisterForm)="sendRegisterForm($event)"></app-register>
      <app-users-table [usersTableData]="allUsers" *ngIf="allUsers"></app-users-table>
    </mat-tab>
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
  </mat-tab-group>
</app-layout>